#about {
    color: #777;
    font-weight: bold;
    vertical-align: middle;
    min-height: 625px;
}

.sub-section {
    transition: border .3s;
    position: absolute;
    width: 46vw;
    height: 45vh;
    border: 1px solid $bright;
    padding: 4vh 4vw;
}

.sub-section:hover {
    border: 1px solid darken($bright, 20);
    // background-color: rgba($bright, .6);
    z-index: 5;
}

.decoration {
    width: 25vw;
    height: 25vh;
    right: 24vw;
    bottom: 14vh;
}

.sub-section > div {
    width: 40vw;
    height: 37vh;
    vertical-align: middle;
    display: table-cell;
}

.top-section {
    top: 7vh;
    left: 5vw;
}

.middle-section {
    right: 5vw;
    top: 20vh;
}

.bottom-section {
    left: 7vw;
    bottom: 7vh;
}


/************/
/*  Mobile  */
/************/

@media only screen and (max-width: 950px) {

    #about {
        padding: 3vh 7vw;
    }

    .sub-section {
        padding: 0 6vw;
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        width: 80vw;
        margin: 0 auto;
    }

    .sub-section > div { width: 80vw; }

    .top-section {
        height: 32vh;
    }
    .top-section > div { height: 32vh;}

    .middle-section {
        top: -2vh;
        left: 5vw;
        height: 23vh;
    }

    .middle-section > div { height: 23vh; }

    .bottom-section {
        top: -4vh;
        left: 2vw;
        height: 42vh;
    }
    .bottom-section > div {
        height: 42vh;
        vertical-align: top;
        padding-top: 5vh;
    }

    .decoration,.unimportant { display: none;}
}