#homepage {
    height: calc(100vh-56px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: blur .6s;
}

.intro {
    background-color: rgba($bright, .9);
    width:50%;
    text-align: center;
    margin: 0 auto 20px auto;
    padding: 10px;
}

.intro-body {
    color: $dark;
}

.intro-body h2 {
    margin-bottom: .7rem;
}

.background {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

#caption {
    background-color: $bright;
    color: $dark;
    opacity: .7;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 13px;
    margin: 0;
}

.blur {
    color: #555;
    position: absolute;
    left: 20px;
    bottom: 20px;
    cursor: pointer;
    z-index: 6;
}

.blur:hover ~ #home {
    filter: none;
    z-index: 5;
}

/************/
/*  Mobile  */
/************/

@media only screen and (max-width: 991px) {
    .blur { display: none; }

    .navbar-collapse {
        position: absolute;
        top: 50px;
    }

    .intro {
        width: 100%;
        // margin-bottom: 5vh;
    }

    .form-inline {
        padding: 0 15%;
    }

    .intro-body {
        padding-top: 6vh;
    }

    #caption {
        display: none;
    }
}