#projects {
    // background-image: url("/backgrounds/howls.png");
    // background-repeat: no-repeat;
    // background-size: 100%;
    background-color: $bright;
    text-align: left;
    // Q! padding or no padding?
}

.explanation {
    // position: absolute;
    // bottom: 600px;
    height: calc(100vh - 600px);
    // padding-top: 50px;
    width: 100%;
    background-image: url(./images/backgrounds/sushibw.png);
    background-size: cover;
    display: table;
}

.inner-exp {
    display: table-cell;
    vertical-align: middle;
}

.explanation > * {
    vertical-align: middle;
    // display: table-cell;
}

.p-list::-webkit-scrollbar-track {
    background-color: $bright;
}

.p-list {
    position: absolute;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
}

.p-list > .flex {
    height: 600px;
    flex-flow: column wrap;
}

// Only chrome supports overflow: overlay
@-moz-document url-prefix() { .p-list { overflow-x: scroll !important; } }
@supports (-ms-ime-align:auto) { .p-list { overflow-x: scroll !important; } }


.p-list:hover {
    overflow-x: overlay;
}

.p-list > .row {
    margin: 0;
}

.proj .card-title {
    height: 48px;
}

.card-img {
    height: 300px;
    object-fit: cover;
}

.card,
.card-img {
    width: 21rem;
    border: 0;
    border-radius: 0;
}


.card-body {
    color: $dark;
    position: absolute;
    top: 8px;
    left: 16px;
    pointer-events: none;
    // display: none;
    opacity: 0;
    font-weight: bold;
}

.card-img:hover, .card-img:focus {
    filter: blur(8px) opacity(.5);
}

.card-img:hover + .card-body,
:focus + .card-body {
    opacity: 1;
    // display: block;
}

.line {
    transition: all 1s;
    position: relative;
    margin: 10px auto;
    width: 1%;
    border: 1px solid $dark;
    opacity: 0;
}

.card-img:hover + .card-body > .line,
:focus + .card-body > .line {
    opacity: .6;
    width: 100%;
}

/************/
/*  Mobile  */
/************/

@media only screen and (max-width: 600px) {
    .p-list {
        overflow-x: auto !important;
    }
    .p-list > .flex {
        height: calc(100vh - 198px);
        flex-direction: column-reverse;
    }
    .card-img,
    .card {
        width: 50vw;
        height: 50vw;
        font-size: .6rem;
    }
    #projects {
        padding-top: 0;
    }
    .explanation {
        background-image: none;
        padding-top: 0;
        height: 198px;
    }
    .explanation p {
        width: 100vw;
    }
}