.on-air {
  color: rgb(18, 184, 27);
}

.spotify {
  width: 100%;
  left: 0;
  bottom: 2vh;
}

@media only screen and (max-width: 950px) {
  .spotify {
    position: absolute;
    font-size: 13px;
    width: 80vw;
    bottom: -7px;
  }
  .spotify > #play-button {
    position: relative;
    left: -1px;
    width: 80vw;
  }
}
