$bright: #ccc;
$middle: #004b69;
$dark: #444;

// $dark: #022444;
// $bright: #B1DDF1;
// $middle: #008080;
// $dark: #086788;
// $beige: #f4ede3;
// Q! main colors grey or blue?
$react-notifications-font-base-path: 'ouinon';