html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.bg-light {
  background-color: transparent !important;
}

.navbar {
  transition: all .8s;
  /* position: static;
  background-color: #f8f9fa !important; */
}

.navigator {
  transition: all .5s;
  color: #ccc;
  background-color: #444;
  padding: 5px 10px;
  border-radius: 100%;
  display: inline-block;
}

.navigator:hover {
  color: #444;
  background-color: #ccc;
  border-radius: 10%;
}

.scrollup {
  position: fixed;
  bottom: 3%;
  right: 3%;
}

/***************/
/*  ScrollBar  */
/***************/


/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
  /* display: none; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #50514F;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(63, 65, 62);
}

/**************/
/*  Sections  */
/**************/


section {
  height: 100vh;
}

.title {
  width: 100%;
  padding: 10px 0;
  background-color: #50514F;
}