html {
  scroll-behavior: smooth;
  overflow-y: overlay;
  overflow-x: hidden;
}

body {
  margin: 0;
  // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  //   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  //   sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Muli", sans-serif;
}

@media only screen and (max-width: 900px) {
  body {
    font-size: .8rem;
  }
  h2 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 400px) {
  body {
    font-size: .7rem;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  text-align: center;
}


a {
  transition: all .3s;
  font-weight: bold;
  color: $bright;
}

a:hover {
  color: darken($bright, 20);
  text-decoration: none;
}

nav a { font-weight: initial; }

a > h2 {
  transition: all .4s;
  color: lighten($dark, 20%);
}

a > h2:hover {
  color: darken($dark, 5%);
}

.lit {
  background-color: $dark;
  color: $bright;
  padding: 10px;
  display:inline-block;
  margin: 0;
}

.blurry {
  filter: blur(3px);
}

  /**************/
 /*   Navbar   */
/**************/


button:focus { outline: 0 !important; }

.bg-light {
  background-color: transparent !important;
}

.navbar {
  transition: all .8s;
}

.form-control:focus {
  border-color: teal;
  box-shadow: 0 0 0 0.2rem rgba(0, 128, 128, .25);
}

@media only screen and (max-width: 600px) {

  .navbar-collapse {
    width: 50%;
    margin: 0 25%;
    top: 10px !important;
    left: 0;
  }
}

  /***************/
 /*  Scrollers  */
/***************/

.navigator {
  transition: all .5s;
  color: $bright;
  /* color: teal; */
  background-color: $dark;
  padding: 8px 10px;
  border-radius: 100%;
  display: inline-block;
  z-index: 1000;
}

.svg-inline--fa.fa-w-14 {
  height: 0.875em;
}

@media only screen and (min-width: 600px) {
  .navigator:hover {
    color: $dark;
    background-color: $bright;
    border-radius: 10%;
  }
}

.scrollup {
  position: fixed;
  bottom: 3%;
  right: 3%;
}

.scrolldown {
  position: fixed;
  bottom: 3%;
  left: 3%;
}

.scrolldown > svg {
  position: relative;
  top: 3px;
}

  /**************/
 /*  ScrolBar  */
/**************/


::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: $dark;
  // border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: $dark;
}


  /**************/
 /*  Sections  */
/**************/


section {
  height: 100vh;
  position: relative;
}

.title {
  margin: 0 40px 40px 40px;
  color: $bright;
  font-weight: bold;
  font-size: 50px;
}

  /****************/
 /* Purgecss fix */
/****************/

nav .mr-sm-2 {
  width: auto;
}

// path {
//   fill: none;
//   stroke-width: 4px;
//   stroke: rgb(54, 179, 126);
// }

// circle {
//   cursor: pointer;
//   stroke-width: 8px;
//   stroke: transparent;
//   fill: rgb(54, 179, 126);
//   transition: r 0.3s ease-out 0s;
// }